<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         name="Web IDL IDE"
         point="org.eclipse.core.runtime.products">
      <product
            name="Eclipse IDE for Web IDL Developers"
            application="org.eclipse.ui.ide.workbench">
         <property
               name="appName"
               value="Eclipse IDE for Web IDL Developers">
         </property>
         <property
               name="aboutText"
               value="Xtext based IDE for Web IDL.&#x0A;For more information please refer to https://github.com/rainerschuster/webidl-eclipse/wiki">
         </property>
         <property
               name="startupForegroundColor"
               value="9c9696">
         </property>
         <property
               name="startupMessageRect"
               value="7,265,320,20">
         </property>
         <property
               name="startupProgressRect"
               value="2,290,448,10">
         </property>
         <property
               name="aboutImage"
               value="eclipse_lg.png">
         </property>
         <property
               name="windowImages"
               value="eclipse16.png,eclipse32.png,eclipse48.png,eclipse256.png">
         </property>
         <property
              name="introBrandingImage"
              value="product:intro-eclipse.png">
         </property>
         <property
               name="introTitle"
               value="Welcome to the Eclipse Web IDL Tools">
         </property>
         <property
               name="introBrandingImageText"
               value="Eclipse Project">
         </property>
      </product>
   </extension>

</plugin>
