<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="WebIDL Language"
            application="org.eclipse.ui.ide.workbench">
         <property
               name="appName"
               value="WebIDL Language">
         </property>
         <property
               name="windowImages"
               value="/icons/eclipse16.gif,/icons/eclipse32.gif,/icons/eclipse48.gif,/icons/eclipse64.png,/icons/eclipse128.png,/icons/eclipse256.png">
         </property>
      </product>
   </extension>

</plugin>
